@import url("https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap");

 /* navbar y footer */
 .logoRB {
    font-family: "Changa", sans-serif;
    font-size: 30px;
  }

 /* carrusel  */
  .imgCarrusel {
    height: 560px;
    object-fit: cover;
  }

  /* inicio  */
  
  .cardPrincipal{
    width: 350px;

